<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">

<th:block layout:fragment="main">
    <main id="main" class="member-list">
        <section class="section">
            <div class="section_header">
                <div>
                    <h2 class="section_title">가맹 문의 관리</h2>
                    <span class="table_top_count">전체<i class="value" th:text="${#numbers.formatInteger(paging.limitCount, 0, 'COMMA')}"></i>건</span>
                </div>
                <div>
                    <a th:href="@{./form(mode='insert')}" class="btn-normal btn-blue">등록</a>
                </div>
            </div>
            <div class="table">
                <div class="table_top">
                    <form class="table_top_search" th:action="@{./list}" name="searchForm">
                        <input type="hidden" name="page" id="page" th:value="${page}" />
                        <div class="search_div">
                            <span>지역 선택</span>
                            <select class="select custom" name="address" id="siDo" onchange="guGunHandler(this)">
                                <option value="" selected>시/도</option>
                            </select>
    
                            <select class="select custom" name="subAddress" id="guGun">
                                <option value="" selected>구/군</option>
                            </select>
                        </div>

                        <div class="search_div">
                            <select class="select custom search_kind" name="kind" style="width: 100px !important;">
                                <option value="customer_name" th:selected="${kind eq 'customer_name'}">고객성명</option>
                                <option value="customer_phone" th:selected="${kind eq 'customer_phone'}">고객연락처</option>
                            </select>
                            <input class="input" type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}">
                        </div>

                        <button type="button" onclick="form_submit()" class="btn-prime btn-search">검색</button>
                    </form>
                </div>
                <table>
                    <colgroup>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" name="" id=""></th>
                            <th>No.</th>
                            <th>고객성명</th>
                            <th>연락처</th>
                            <th>창업 희망지역</th>
                            <th>창업 예산</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody th:if="${list.size > 0}">
                        <tr th:each="storeInquiry : ${list}" th:onclick="linkTo(event,'./form?mode=update&storeInquiryNo=[[${storeInquiry.storeInquiryNo}]]')">
                            <td class="check"><input type="checkbox" name="ck" th:value="${storeInquiry.storeInquiryNo}"></td>
                            <td th:text="${storeInquiry.storeInquiryNo}"></td>
                            <td th:text="${storeInquiry.customerName}"></td>
                            <td th:text="${storeInquiry.customerPhone}"></td>
                            <td th:text="${storeInquiry.desiredArea}"></td>
                            <td th:text="${storeInquiry.budget}"></td>
                            <td th:text="${storeInquiry.createDate}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${list.size == 0}">
                        <tr>
                            <td class="none_data" colspan="7" rowspan="3">등록된 정보가 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section_footer">
                <div class="table_action" th:if="${list.size > 0}">
                    <button type="button" class="btn-normal btn-red" onclick="del('store_inquiry','store_inquiry_no','가맹문의')">삭제</button>
                </div>

                <!-- 페이징 -->
                <th:block th:replace="admin/layout/fragments/page :: page"/>
            </div>
        </section>
    </main>

    <script defer th:src="@{/admin/assets/js/local.js}"></script>
    <script>

        const form_submit = () => {
            document.getElementById('page').value = 1;
            searchForm.submit();
        }

        window.addEventListener('DOMContentLoaded', () => {
            layoutFn();
            new Table(document.querySelector('#main table'));
            siDoHandler();
        });
    </script>
</th:block>

</html>