/* Desktop First */
// @mixin desktop {
//   @media (min-width: #{$desktop}) {
//     @content;
//   }
// }

@mixin tablet {
  @media (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

// 글자 숨기기
@mixin text-hidden {
  text-indent: -9999em;
  overflow: hidden;
}

// 블릿
@mixin list-bullet($color: #111) {
  position: relative;
  padding-left: 15px;
  margin-top: 5px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 6px;
    transform: translateY(-50%);
    background-color: $color;
  }
}

// 말줄임
@mixin ellipsis($line, $line-height: $line-height) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    max-height: $line-height * $line + em; //ie 크로스브라우징
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: normal;
  }
}

// 웹키트 탭 하이라이트 컬러
@mixin tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

// 그라디언트 생성
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  // fallback/image non-cover color
  background-color: $from;
  // Firefox 3.6+
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  // Safari 4+, Chrome 1+
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, $from),
    color-stop($stop, $to)
  );
  // Safari 5.1+, Chrome 10+
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  // Opera 11.10+
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  // IE10+
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  // Standard
  background: linear-gradient(to right, $from 0%, $to $stop);
  // IE6-9
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1);
}

// placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// svg icons
@function svg($icon-name, $color, $color2: "") {
  //SVG 아이콘 목록

  $icons: (
    // 이전 버튼
    btn-back:
      "%0A%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4741 0L12 1.45688L3.0519 10L12 18.5431L10.4741 20L0 10L10.4741 0Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
    // 닫기 버튼
    btn-close:
      "%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L19 19' stroke='%23#{$color}'/%3E%3Cpath d='M19 1L0.999999 19' stroke='%23#{$color}'/%3E%3C/svg%3E%0A",
    // 삭제 버튼
    btn-delete:
      "%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33301 1.33301L14.6663 14.6663M14.6663 1.33301L1.33301 14.6663' stroke='%23#{$color}'/%3E%3C/svg%3E%0A",
    // btn-delete : "%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.26683 9.66683L0.333496 8.7335L4.06683 5.00016L0.333496 1.26683L1.26683 0.333496L5.00016 4.06683L8.7335 0.333496L9.66683 1.26683L5.9335 5.00016L9.66683 8.7335L8.7335 9.66683L5.00016 5.9335L1.26683 9.66683Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
    // 좋아요 아이콘
    ico-like:
      "%3Csvg width='18' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='m9 16-1.042-.932a104.115 104.115 0 0 1-3.908-3.61c-1.026-1.009-1.84-1.906-2.44-2.69C1.01 7.984.593 7.27.356 6.625A5.66 5.66 0 0 1 0 4.658c0-1.32.454-2.426 1.362-3.32C2.27.447 3.395 0 4.737 0c.82 0 1.602.19 2.345.57.742.38 1.381.928 1.918 1.643A5.566 5.566 0 0 1 10.918.57 5.075 5.075 0 0 1 13.263 0c1.342 0 2.467.446 3.375 1.339.908.893 1.362 2 1.362 3.319 0 .668-.118 1.323-.355 1.967-.237.645-.655 1.36-1.255 2.143-.6.784-1.414 1.681-2.44 2.69a104.053 104.053 0 0 1-3.908 3.61L9 16Z'/%3E%3C/mask%3E%3Cpath d='m9 16-1.042-.932a104.115 104.115 0 0 1-3.908-3.61c-1.026-1.009-1.84-1.906-2.44-2.69C1.01 7.984.593 7.27.356 6.625A5.66 5.66 0 0 1 0 4.658c0-1.32.454-2.426 1.362-3.32C2.27.447 3.395 0 4.737 0c.82 0 1.602.19 2.345.57.742.38 1.381.928 1.918 1.643A5.566 5.566 0 0 1 10.918.57 5.075 5.075 0 0 1 13.263 0c1.342 0 2.467.446 3.375 1.339.908.893 1.362 2 1.362 3.319 0 .668-.118 1.323-.355 1.967-.237.645-.655 1.36-1.255 2.143-.6.784-1.414 1.681-2.44 2.69a104.053 104.053 0 0 1-3.908 3.61L9 16Z' fill='%23#{$color}' stroke='%23#{$color2}' stroke-width='2' mask='url(%23b)'/%3E%3C/g%3E%3C/svg%3E",
    // 평점 아이콘
    ico-star:
      "%0A%3Csvg width='39' height='38' viewBox='0 0 39 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 1.61804L23.627 14.3197L23.7393 14.6652H24.1025H37.4578L26.6532 22.5152L26.3593 22.7287L26.4715 23.0742L30.5985 35.7758L19.7939 27.9258L19.5 27.7123L19.2061 27.9258L8.40146 35.7758L12.5285 23.0742L12.6407 22.7287L12.3468 22.5152L1.54218 14.6652H14.8975H15.2607L15.373 14.3197L19.5 1.61804Z' fill='%23#{$color}' stroke='%23#{$color2}'/%3E%3C/svg%3E%0A",
    // 배달 아이콘
    icon-delivery:
      "%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23#{$color}'/%3E%3Cpath d='M10.25 25C11.9065 25 13.25 24.1043 13.25 23H7.25C7.25 24.1043 8.59353 25 10.25 25Z' fill='white'/%3E%3Cpath d='M24.2293 15.5982L22.7532 13.1657H24.25V11.6242H21.8174L20.8814 10.0827H20.0387L18.6522 7H16.25V8.54147H17.9795L18.6727 10.0827H16.25V11.2388L18.6363 11.512C19.4579 13.377 20.0387 15.5885 20.3009 18C21.2081 16.788 22.6051 15.9066 24.2293 15.5982Z' fill='white'/%3E%3Cpath d='M26.25 18.7502V17.0834H25.4167C22.7948 17.0834 20.6495 19.1006 20.4377 21.6666H17.0833L15.2083 16.6667H16.25V15H6.25V16.6667H7.242C6.61525 17.8239 6.25 19.0836 6.25 20.8334H13.75L15.4167 23.3333H20.7083C21.1777 24.3155 22.1722 25 23.3335 25C24.9438 25 26.25 23.6938 26.25 22.0833C26.25 20.6179 25.1642 19.4156 23.755 19.2091C24.2465 18.9249 24.808 18.7502 25.4167 18.7502H26.25Z' fill='white'/%3E%3C/svg%3E%0A",
    // 테이크아웃 아이콘
    icon-takeout:
      "%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23#{$color}'/%3E%3Cpath d='M7.25 12.1387V22.9377C7.25068 23.5322 7.48789 24.1021 7.90959 24.5224C8.33128 24.9428 8.90303 25.1792 9.4994 25.1799H23.5002C24.0966 25.1792 24.6683 24.9428 25.09 24.5224C25.5117 24.1021 25.7489 23.5322 25.7496 22.9377V12.1387H7.25ZM15.8652 20.8132L15.8342 20.844C15.7613 20.9166 15.6624 20.9574 15.5593 20.9574C15.4562 20.9574 15.3574 20.9166 15.2844 20.844L15.2452 20.8049L15.2451 20.8049L14.3474 19.91L14.3473 19.9099L14.3081 19.8708C14.272 19.8348 14.2433 19.7921 14.2238 19.7451C14.2043 19.6981 14.1942 19.6477 14.1942 19.5968C14.1942 19.5459 14.2043 19.4955 14.2238 19.4485C14.2434 19.4014 14.272 19.3587 14.3081 19.3227L14.339 19.2919C14.8281 18.7991 15.1341 18.155 15.2067 17.4656C15.2824 16.7667 15.6208 16.086 16.1597 15.5489C16.7186 14.9917 17.4262 14.652 18.1522 14.5922C18.2278 14.586 18.3027 14.5829 18.3768 14.5829C18.9978 14.5829 19.5546 14.8007 19.9627 15.2074C20.4195 15.6627 20.6386 16.3037 20.5799 17.0122C20.52 17.7359 20.1791 18.4412 19.6202 18.9983C19.0813 19.5355 18.3984 19.8729 17.6973 19.9483C17.0057 20.0206 16.3595 20.3257 15.8652 20.8132ZM14.0723 21.9346C14.1508 22.0336 14.1885 22.1587 14.1774 22.2844C14.1664 22.4101 14.1076 22.5269 14.013 22.6107C13.9185 22.6946 13.7953 22.7392 13.6688 22.7355C13.5422 22.7318 13.4219 22.68 13.3325 22.5907C13.2831 22.5418 13.2447 22.4829 13.2199 22.4181C13.1951 22.3532 13.1845 22.2838 13.1887 22.2145C13.1904 22.1817 13.1855 22.1488 13.1741 22.118C13.1627 22.0871 13.1451 22.0589 13.1224 22.035C13.0997 22.0112 13.0724 21.9922 13.0421 21.9792C13.0118 21.9662 12.9791 21.9595 12.9461 21.9595C12.9419 21.9595 12.9375 21.9596 12.9332 21.9599C12.833 21.9653 12.7335 21.9404 12.6478 21.8882C12.5622 21.8361 12.4944 21.7593 12.4535 21.668C12.4126 21.5766 12.4005 21.4751 12.4188 21.3767C12.437 21.2783 12.4848 21.1878 12.5558 21.1171C12.6417 21.0314 12.7563 20.9801 12.8776 20.9731C12.999 20.9661 13.1187 21.0038 13.214 21.079C13.2607 21.1159 13.3194 21.1345 13.3789 21.131C13.4384 21.1276 13.4945 21.1025 13.5367 21.0605L14.1756 20.4236L14.7298 20.9761L14.0909 21.613C14.0487 21.655 14.0236 21.711 14.0201 21.7703C14.0167 21.8296 14.0353 21.8881 14.0723 21.9346Z' fill='white'/%3E%3Cpath d='M22.1583 7.00001H10.8415C10.3698 6.99857 9.90858 7.13855 9.51775 7.40178C9.12691 7.665 8.82452 8.0393 8.64985 8.47606L7.36719 11.655H25.6335L24.3497 8.4755C24.175 8.0389 23.8726 7.66475 23.4818 7.40163C23.091 7.13852 22.6299 6.99859 22.1583 7.00001ZM18.9537 11.0356H14.0472C13.6265 11.0356 13.2231 10.869 12.9256 10.5725C12.6282 10.276 12.4611 9.87388 12.4611 9.45457C12.4611 9.03525 12.6282 8.6331 12.9256 8.3366C13.2231 8.0401 13.6265 7.87352 14.0472 7.87352H18.9537C19.3743 7.87352 19.7777 8.0401 20.0752 8.3366C20.3726 8.6331 20.5398 9.03525 20.5398 9.45457C20.5398 9.87388 20.3726 10.276 20.0752 10.5725C19.7777 10.869 19.3743 11.0356 18.9537 11.0356Z' fill='white'/%3E%3C/svg%3E%0A",
    // 매장 아이콘
    icon-chair:
      "%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23#{$color}'/%3E%3Cpath d='M21.7623 19.1721C21.7618 18.736 21.5884 18.318 21.28 18.0097C20.9717 17.7013 20.5537 17.5279 20.1176 17.5273H12.8808C12.4447 17.5279 12.0267 17.7013 11.7183 18.0097C11.41 18.318 11.2365 18.736 11.236 19.1721C11.236 19.1842 11.2354 19.1962 11.234 19.2083L10.5781 25.1083C10.5801 25.1955 10.6167 25.2784 10.6798 25.3386C10.7429 25.3989 10.8274 25.4317 10.9146 25.4296C11.0019 25.4276 11.0848 25.3911 11.145 25.328C11.2053 25.2648 11.238 25.1804 11.236 25.0931C11.236 25.081 11.2367 25.069 11.238 25.0569L11.8959 19.152C11.9011 18.8941 12.0071 18.6485 12.1912 18.4678C12.3753 18.2871 12.6228 18.1857 12.8808 18.1852H20.1176C20.3759 18.1852 20.6239 18.2864 20.8084 18.4671C20.9929 18.6479 21.0992 18.8938 21.1044 19.152L21.7604 25.0569C21.7617 25.069 21.7623 25.081 21.7623 25.0931C21.7603 25.1804 21.7931 25.2648 21.8533 25.328C21.9136 25.3911 21.9965 25.4276 22.0837 25.4296C22.171 25.4317 22.2554 25.3989 22.3185 25.3386C22.3816 25.2784 22.4182 25.1955 22.4202 25.1083L21.7643 19.2083C21.763 19.1962 21.7623 19.1842 21.7623 19.1721Z' fill='white'/%3E%3Cpath d='M22.0921 15.5526H13.2105C12.9517 15.5527 12.7033 15.4511 12.5187 15.2697C12.3341 15.0883 12.2282 14.8416 12.2237 14.5829L11.5658 7.68914C11.5685 7.60052 11.5536 7.51223 11.522 7.42941C11.4903 7.3466 11.4424 7.27092 11.3812 7.20679C11.3199 7.14265 11.2466 7.09134 11.1653 7.05584C11.0841 7.02033 10.9966 7.00135 10.9079 7C10.7334 7 10.5661 7.06931 10.4427 7.19269C10.3193 7.31607 10.25 7.48341 10.25 7.65789L10.9079 15.1954C10.9055 15.4134 10.9462 15.6297 11.0277 15.8319C11.1091 16.0341 11.2297 16.2183 11.3826 16.3737C11.5354 16.5292 11.7175 16.6529 11.9182 16.7378C12.119 16.8227 12.3346 16.8671 12.5526 16.8684H22.0921C22.2666 16.8684 22.4339 16.7991 22.5573 16.6757C22.6807 16.5523 22.75 16.385 22.75 16.2105C22.75 16.036 22.6807 15.8687 22.5573 15.7453C22.4339 15.6219 22.2666 15.5526 22.0921 15.5526Z' fill='white'/%3E%3C/svg%3E%0A",
    // 주차 아이콘
    icon-park:
      "%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23#{$color}'/%3E%3Cpath d='M11.25 24H13.7168V18.5856H16.3733C19.5422 18.5856 21.2405 16.3646 21.25 13.3039C21.2405 10.232 19.5612 8 16.4113 8H11.25V24ZM13.7168 16.221V10.4088H16.0318C17.8914 10.4088 18.7263 11.5912 18.7263 13.3039C18.7263 14.9945 17.8914 16.2099 16.0318 16.221H13.7168Z' fill='white'/%3E%3C/svg%3E%0A"
  );
  $icon: map-get($icons, $icon-name);
  @return url("data:image/svg+xml,#{$icon}");
}
