<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">

<th:block layout:fragment="main">
    <main id="main" class="member-list">
        <section class="section">
            <div class="section_header">
                <div>
                    <h2 class="section_title">메뉴 관리</h2>
                    <span class="table_top_count">전체<i class="value" th:text="${#numbers.formatInteger(paging.limitCount, 0, 'COMMA')}"></i>건</span>
                </div>
                <div>
                    <a th:href="@{./form(mode='insert')}" class="btn-normal btn-blue">등록</a>
                </div>
            </div>
            <div class="table">
                <div class="table_top">
                    <form class="table_top_search" th:action="@{./list}" name="searchForm">
                        <input type="hidden" name="page" id="page" th:value="${page}" />
                        <div class="search_div">
                            <span>카테고리 선택</span>
                            <select class="select custom" name="category" id="siDo" onchange="guGunHandler(this)">
                                <option value="" selected>선택</option>
                                <option value="SETMENU" th:selected="${category eq 'SETMENU'}">세트메뉴</option>
                                <option value="CHICKEN" th:selected="${category eq 'CHICKEN'}">치킨</option>
                                <option value="TTEOKBOKKI" th:selected="${category eq 'TTEOKBOKKI'}">떡볶이</option>
                            </select>
                        </div>

                        <div class="search_div">
                            <select class="select custom search_kind" name="kind">
                                <option value="name" th:selected="${kind eq 'name'}">이름</option>
                            </select>
                            <input class="input" type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}">
                        </div>

                        <button type="submit" class="btn-prime btn-search">검색</button>
                    </form>
                </div>
                <table>
                    <colgroup>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" name="" id=""></th>
                            <th>메뉴번호</th>
                            <th>이름</th>
                            <th>카테고리</th>
                            <th>신메뉴 여부</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody th:if="${list.size > 0}">
                        <tr th:each="menu : ${list}" th:onclick="linkTo(event,'./form?mode=update&menuNo=[[${menu.menuNo}]]')">
                            <td class="check"><input type="checkbox" name="ck" th:value="${menu.menuNo}"></td>
                            <td th:text="${menu.menuNo}"></td>
                            <td th:text="${menu.name}"></td>
                            <td th:switch="${#strings.toString(menu.category)}">
                                <th:block th:case="SETMENU">세트메뉴</th:block>
                                <th:block th:case="CHICKEN">치킨</th:block>
                                <th:block th:case="TTEOKBOKKI">떡볶이</th:block>
                            </td>
                            <td th:text="${menu.newStatus ? 'O' : 'X'}"></td>
                            <td th:text="${menu.createDate}"></td>
                        </tr>
                    </tbody>
                    <tbody th:if="${list.size == 0}">
                        <tr>
                            <td class="none_data" colspan="6">등록된 정보가 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section_footer">
                <div class="table_action">
                    <button type="button" class="btn-normal btn-red" onclick="del('menu','menu_no','메뉴')">삭제</button>
                </div>

                <!-- 페이징 -->
                <th:block th:replace="admin/layout/fragments/page :: page"/>
            </div>
        </section>
    </main>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            layoutFn();
            new Table(document.querySelector('#main table'));
        });
    </script>
</th:block>

</html>