<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="footer">
  <div class="logo">굿킨</div>
  <ul class="menu">
    <li><a href="/about"> 브랜드 소개 </a></li>
    <li><a href="/franchise"> 프랜차이즈 </a></li>
    <li><a href="/store"> 매장 안내 </a></li>
    <li><a href="/privacy"> 개인정보취급방침 </a></li>
  </ul>

  <ul class="info">
    <li th:text="|대표자: ${site.ceo}|"></li>
    <li th:text="|주소: ${site.address}|"></li>
    <li th:text="|사업자등록번호: ${site.businessNumber}|"></li>
    <li th:text="|대표 전화: ${site.phone}|"></li>
  </ul>
  <div class="copyright">
    Copyright 2022 잘만든치킨 굿킨. All rights reserved.
  </div>
</footer>

</html>