<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>굿킨 관리자</title>
        <link rel="shortcut icon" th:href="@{/assets/imgs/favicon.ico}">
        <link rel="stylesheet" th:href="@{/admin/assets/css/main.css}">
        <script defer th:src="@{/admin/assets/js/script.js}"></script>
        <script defer th:src="@{/js/ajax.js}"></script>
        <script defer th:src="@{/admin/assets/js/mutldel.js}"></script>
        <script defer th:src="@{/admin/assets/js/excel.js}"></script>
    </head>
</html>