<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">

<th:block layout:fragment="main">
    <main id="main" class="member-list">
        <section class="section">
            <div class="section_header">
                <div>
                    <h2 class="section_title">가맹점 관리</h2>
                    <span class="table_top_count">전체<i class="value" th:text="${#numbers.formatInteger(paging.limitCount, 0, 'COMMA')}"></i>건</span>
                </div>
                <div>
                    <a th:href="@{./form(mode='insert')}" class="btn-normal btn-blue">등록</a>
                </div>
            </div>
            <div class="table">
                <div class="table_top">
                    <form class="table_top_search" th:action="@{./list}" name="searchForm">
                        <input type="hidden" name="page" id="page" th:value="${page}" />
                        <div class="search_div">
                            <span>지역 선택</span>
                            <select class="select custom" name="address" id="siDo" onchange="guGunHandler(this)">
                                <option value="" selected>시/도</option>
                            </select>
    
                            <select class="select custom" name="subAddress" id="guGun">
                                <option value="" selected>구/군</option>
                            </select>
                        </div>

                        <div class="search_div">
                            <select class="select custom search_kind" name="kind">
                                <option value="name" th:selected="${kind eq 'name'}">이름</option>
                            </select>
                            <input class="input" type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}">
                        </div>

                        <button type="submit" class="btn-prime btn-search">검색</button>
                    </form>
                </div>
                <table>
                    <colgroup>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" name="" id=""></th>
                            <th>가맹점번호</th>
                            <th>이름</th>
                            <th>지역</th>
                            <th>연락처</th>
                            <th>서비스</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="store : ${list}" th:onclick="linkTo(event,'./form?mode=update&storeNo=[[${store.storeNo}]]')">
                            <td class="check"><input type="checkbox" name="ck" th:value="${store.storeNo}"></td>
                            <td th:text="${store.storeNo}"></td>
                            <td th:text="${store.name}"></td>
                            <td th:text="${store.address}"></td>
                            <td th:text="${store.phone}"></td>
                            <td th:text="${store.service}"></td>
                            <td th:text="${store.createDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section_footer">
                <div class="table_action">
                    <button type="button" class="btn-normal btn-red" onclick="del('store','store_no','가맹점')">삭제</button>
                </div>

                <!-- 페이징 -->
                <th:block th:replace="admin/layout/fragments/page :: page"/>
            </div>
        </section>
    </main>

    <script defer th:src="@{/admin/assets/js/local.js}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            layoutFn();
            new Table(document.querySelector('#main table'));
            siDoHandler();
        });
    </script>
</th:block>

</html>