#pagination {
    display: flex;
    justify-content: center;
}

#pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

#pagination ul a {
    padding: 10px;
    cursor: pointer;
    font-weight: 400;
}

#pagination ul a.on {
    font-weight: bold;
}

.marker_container {
    min-width: 190px;
    max-height: 38px;
    position: relative;
    background: #FFFFFF;
    border: 2px solid #396ef3;
    border-radius: 99px;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    letter-spacing: -0.25px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}

.marker_container:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 31px;
    left: 15.4px;
}

.marker_container::before {
    content: '';
    position: absolute;
    border-color: #396ef3 transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    display: block;
    left: 15.4px;
    top: 34px;
    width: 0;
    z-index: 0;
}

.marker_container .marker_img {
    background: #396ef3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker_container p {
    font-weight: bold;
}

.search_filter_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search_filter {
    display: grid;
    width: 24%;
    /* background: #fff; */
    gap: 0;
    /* position: relative; */
    align-items: center;
}

.search_filter button {
    width: 30px;
    height: 100%;
    /* position: absolute; */
    background: url(../assets/images/search.svg) 88% 70% no-repeat;
    /* top: 0; */
    /* right: 0; */
}