<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="main">
  <main>
    <div class="banner-main">
      <img alt="banner" />
    </div>
    <section class="bg-primary-light reverse">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/img-chicken.png}" />
      </div>
      <article>
        <h1>
          <p class="subtitle">따듯한 정성으로 만드는</p>
          <p class="title">“맛있는 치킨”</p>
        </h1>
        <p class="contents">
          음식을 만드는 사람들은 한가지 공통점이 있습니다. 소중한 사람에게
          정성껏 만든 음식을 대접했을 때, 맛있게 먹고 즐거워 하는 모습을
          보며 기쁨과 보람을 얻습니다.
          <br /><br />
          우리 매장을 찾아주시는 소중한 고객님들을 생각하며, 엄선해서 좋은
          재료를 고르고 반짝이는 청결한 주방에서 매일 이렇게 다짐합니다.
          <br /><br />
          <span class="font-bold">
            잘만든 치킨으로 우리 고객님들이 즐겁고 행복한 시간을 보내셨으면
            좋겠습니다.
          </span>
        </p>
      </article>
    </section>
    <section class="bg-black reverse">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/img-oneteam.png}" />
      </div>
      <article>
        <h1>
          <p class="subtitle">전문가와 함께하는</p>
          <p class="title">“우리 가게”</p>
        </h1>
        <p class="contents">
          메뉴 개발, 매장 관리, 홍보마케팅 등 유명 브랜드에서 10년 이상 쌓은
          경험과 노하우를 바탕으로 안정적인 매장 운영을 지원합니다.
          <br /><br />

          자영업을 처음 시작하는 초보 창업자라도 빠르게 적응할 수 있도록 각
          분야의 전문가들이 점주님과 함께 원 팀 (One-Team)이 되어 성공
          창업을 향해 나아가겠습니다.
        </p>
      </article>
    </section>

    <!-- 굿킨의 대표메뉴 -->
    <section>
      <div class="swiper menu-swiper">
        <h1 class="title">굿킨의 대표메뉴</h1>

        <div class="swiper-button-prev menu-swiper-button-prev"></div>
        <div class="swiper-button-next menu-swiper-button-next"></div>

        <div class="swiper-wrapper menu-swiper-wrapper">
          <div th:each="menu : ${menus}" class="swiper-slide menu-swiper-item">
            <img th:src="${menu.fileUrl}" />
            <p class="center" th:text="${menu.name}"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- 맛집 리뷰 -->
    <section>
      <h1 class="title center">고객님들이 인정한 맛집!</h1>
    </section>
    <section class="full bg-effect-parent">
      <div class="bg-effect bg-gradient-vertical"></div>

      <div class="swiper review-swiper">
        <div class="swiper-wrapper review-swiper-wrapper">
          <div th:each="review : ${reviews}" class="swiper-slide review-swiper-item">
            <img th:src="${review.fileUrl}" alt="" loading="lazy" />
          </div>
        </div>
      </div>
    </section>
    <button type="button" class="btn-ScrollToTop" onClick="ScrollToTop()">
      floating-ScrollToTop
    </button>
  </main>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <script type="text/javascript" th:src="@{/js/libs/swiper-bundle.min.js}"></script>

  <script type="text/javascript">
    const menuSwiper = new Swiper(".menu-swiper", {
      breakpoints: {
        768: {
          slidesPerView: 3,
          slidesPerGroup: 1,
        },
        1024: {
          slidesPerView: 4,
          slidesPerGroup: 4,
        },
      },
      slidesPerView: 2,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    const reviewSwiper = new Swiper(".review-swiper", {
      slidesPerView: "auto",
      centeredSlides: true,
      speed: 2000,
      loop: true,
      autoplay: {
        delay: 1,
        disableOnInteraction: false,
      },
    });
  </script>
</th:block>

</html>