<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>굿킨</title>
    <link rel="stylesheet" type="text/css" href="../css/common.min.css" />
  </head>
  <body>
    <div class="root">
      <header>
        <div>
          <a class="logo" href="/">굿킨</a>
          <ul class="menu">
            <li><a href="../html/about.html">브랜드 소개</a></li>
            <li><a href="../html/self-employment.html">자영업 이야기</a></li>
            <li><a href="../html/strategy.html">성공창업 전략</a></li>
            <li><a href="../html/franchise.html">프렌차이즈</a></li>
            <li><a href="../html/menu.html">메뉴 소개</a></li>
            <li><a href="../html/store.html">매장 안내</a></li>
            <li><a href="../html/customer-inquiry.html">고객의 소리</a></li>
          </ul>
        </div>
        <button type="button" class="btn-menu" onclick="btnMenu()">Menu</button>
      </header>
      <div class="overlay">
        <nav class="nav">
          <div class="nav-head">
            <a class="logo" href="/">굿킨</a>
            <button type="button" class="btn-close" onClick="btnClose()">
              Close
            </button>
          </div>
          <div class="nav-main">
            <ul class="menu">
              <li><a href="../html/about.html">브랜드 소개</a></li>
              <li><a href="../html/self-employment.html">자영업 이야기</a></li>
              <li><a href="../html/strategy.html">성공창업 전략</a></li>
              <li><a href="../html/franchise.html">프렌차이즈</a></li>
              <li><a href="../html/menu.html">메뉴 소개</a></li>
              <li><a href="../html/store.html">매장 안내</a></li>
              <li><a href="../html/customer-inquiry.html">고객의 소리</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <main id="main">
        <section>
          <h1 class="title">고객의 소리</h1>
          <form action="#" name="customerInquiry" method="post">
            <hr />
            <label>분류 <span class="required">*</span></label>
            <div class="input">
              <select name="category" id="category" required>
                <option class="placeholder" hidden selected value="">
                  분류 선택
                </option>
                <option value="1">1</option>
              </select>
            </div>

            <hr />
            <label>성명 <span class="required">*</span></label>
            <div class="input">
              <input type="text" name="name" id="name" required />
            </div>

            <hr />
            <label>연락처 <span class="required">*</span></label>
            <div class="input">
              <input type="text" name="phone" id="phone" required />
            </div>

            <hr />
            <label>이메일</label>
            <div class="input">
              <input type="text" name="email" id="email" />
            </div>

            <hr />
            <label>이용 가맹점</label>
            <div class="input">
              <select name="store" id="store">
                <option class="placeholder" hidden selected value="">
                  가맹점 선택
                </option>
                <option value="1">1</option>
              </select>
            </div>

            <hr />
            <label>제목</label>
            <div class="input">
              <input type="text" name="title" id="title" />
            </div>

            <hr />
            <label>내용</label>
            <div class="textarea">
              <textarea name="contents" id="contents"></textarea>
            </div>

            <hr />
            <label>파일첨부</label>
            <div class="file">
              <input type="file" name="file" id="file" />※ 용량 10Mb이내, gif,
              jpg, jpeg, png만 첨부 가능
            </div>

            <hr />
            <div class="grid-rows textbox">
              <label class="checkbox">
                <input type="checkbox" value="blue" name="agree" id="agree" />
                개인정보 수집 및 활용 동의
              </label>
              <div>
                개인정보 수집·활용 동의 <br /><br />
                (주)조은에프씨는 이용하는 고객님의 개인정보 보호를 위하여,
                개인정보 수집의 목적과 그 정보의 정책적, 시스템적 보안에 관하여
                규정하고 그에 따른 동의를 받고자 합니다.<br /><br />
                1. 개인정보 수집 및 이용목적 <br />- 기름 재사용 신고 확인 목적
                외에 어떠한 용도로도 사용되지 않습니다. <br />- 신고 건 확인에
                있어, 원활하게 신고 사항의 접수 및 답변이 이루어질 수 있도록
                하기 위한 최소한의 정보를 수집합니다.<br /><br />
                2. 수집하는 개인정보의 항목 <br />- 이름, 연락처(전화번호,
                핸드폰번호), 이메일
              </div>
            </div>
            <div class="grid-rows submit">
              <input type="submit" value="작성 완료" />
            </div>
          </form>
        </section>
      </main>
      <footer>
        <div class="logo">굿킨</div>
        <ul class="menu">
          <li><a href="../html/about.html"> 브랜드 소개 </a></li>
          <li><a href="../html/franchise.html"> 프랜차이즈 </a></li>
          <li><a href="../html/store.html"> 매장 안내 </a></li>
          <li><a href="../html/privacy.html"> 개인정보취급방침 </a></li>
        </ul>

        <ul class="info">
          <li>대표자: 이도현</li>
          <li>주소: 서울특별시 도봉구 도봉로 113길 10, 1층</li>
          <li>사업자등록번호: 710-81-02860</li>
          <li>대표 전화: 02-994-3170</li>
        </ul>
        <div class="copyright">
          Copyright 2022 잘만든치킨 굿킨. All rights reserved.
        </div>
      </footer>
    </div>
    <script
      type="text/javascript"
      src="../js/libs/jquery-3.6.1.min.js"
    ></script>
    <script src="../js/common.js"></script>
  </body>
</html>
