<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="main">
  <main>
    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section1[0].img}+'); --imgUrl-MO:url('+${section1[1].img}+');'"/>
    </div>
    <section>
      <h1 class="title center">MENU</h1>
      <div class="tab">
        <button class="tab-links active" onclick="tab(event, 'new')">
          신메뉴
        </button>
        <button class="tab-links" onclick="tab(event, 'setmenu')">
          세트메뉴
        </button>
        <button class="tab-links" onclick="tab(event, 'chicken')">
          치킨메뉴
        </button>
        <button class="tab-links" onclick="tab(event, 'tteokbokki')">
          떡볶이 메뉴
        </button>
      </div>
      <div id="new" class="tab-content active">
        <div class="list new_menu"></div>
      </div>
      <div id="setmenu" class="tab-content">
        <ul class="list"></ul>
      </div>
      <div id="chicken" class="tab-content">
        <ul class="list"></ul>
      </div>
      <div id="tteokbokki" class="tab-content">
        <ul class="list"></ul>
      </div>
    </section>
  </main>

  <script>
    function menu_data(data, id) {
      const template = 
        data.length > 0 
          ? data.map(item => 
            `<li class="list-item">
              <img src="${item.fileUrl}" alt="menu" loading='eager'/>
              <div>
                <p class="list-title ${id !== 'setmenu' ? 'center' : ''}">${item.name}</p>
                ${id === 'setmenu' ? `<p class="list-explanation">${item.description}</p>` : ''}
              </div>
            </li>`
          )
          : `<li class="list-item">
              등록된 정보가 없습니다.
            </li>`;

      document.querySelector(`#${id} ul`).innerHTML = template.join('');
      
    }

    function new_menu_data(data, id) {
      const template = 
        data != null
          ? `<img src="${data.fileUrl}" alt="menu" loading='eager' width="100%" height="100%"/>`
          : `<p>등록된 정보가 없습니다.</p>`;

      document.querySelector(`#${id} div`).innerHTML = template;
    }

    window.addEventListener('load', () => {
      getMenus("new");
    });
  </script>

</th:block>

</html>