<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="main">
  <main>
    <div id="map" class="map"></div>
    <section style="gap: 20px;">
      <h1 class="title">매장 목록</h1>
      <div class="search_filter_container">
        <span id="store_count"></span>
        <div class="search_filter">
          <input type="text" id="keyword" placeholder="지역명, 매장명으로 검색" autocomplete="off">
          <button type="button" onclick="searchHandler()"></button>
        </div>
      </div>
      <table class="line-table">
        <thead>
          <tr>
            <th>매장명</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>매장 서비스</th>
          </tr>
        </thead>
        <tbody id="list"></tbody>
      </table>
      <div id="pagination">

      </div>
    </section>
  </main>

  <!-- 네이버 지도 API -->
  <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sg6n0oldss&submodules=geocoder"></script>
  <script defer th:src="@{/js/storeMap.js}"></script>
  <script type="text/javascript">

    let currentAddress = {};

    function store_data(data) {

      console.log(data);

      // 데이터 처리
      const template = data.list.length > 0
        ? data.list.map(item => `
          <tr>
            <td>${item.name}</td>
            <td>${item.address}, ${item.detailAddress}</td>
            <td>${item.phone}</td>
            <td>
              <div class="icon-wrapper">
                <span class="icon-delivery ${item.service.includes('배달') ? 'active' : ''}"></span>
                <span class="icon-takeout ${item.service.includes('포장') ? 'active' : ''}""></span>
                <span class="icon-chair ${item.service.includes('홀') ? 'active' : ''}""></span>
                <span class="icon-park ${item.service.includes('주차') ? 'active' : ''}""></span>
              </div>
            </td>
          </tr>
        `)
        : `
          <tr>
            <td colspan="4">등록된 매장 정보가 없습니다.</td>
          </tr>
        `;

      // 페이징처리
      const paging = data.paging;
      const page = data.page;

      if (Number(paging.limitCount) > 10) {
        const pagination_template = `
              <ul>
                  ${paging.page > 10 ? `<li><a class="first" onclick="getStores(${paging.page - 10})"></a></li>` : ''}
                  ${paging.page > 1 ? `<li><a class="prev" onclick="getStores(${paging.page - 1})"></a><li>` : ''}
                  [[page]]
                  ${paging.page < paging.maxPage ? `<li><a class="next" onclick="getStores(${paging.page + 1})">다음</a><li>` : ''}
                  ${paging.page + 10 < paging.maxPage ? `<li><a class="last" onclick="getStores(${paging.page + 10})">last</a><li>` : ''} 
              </ul>
          `;

        let page_template = ''
        for (let i = paging.startPage; i <= paging.endPage; i++) {
          let cuurentPage = i + (paging.startPage - 1);
          page_template += `
              <li>
                <a class="${cuurentPage == page ? 'on' : ''}" onclick="getStores(${cuurentPage})">
                  ${cuurentPage}
                </a>
              </li>
            `
        }

        document.getElementById('pagination').innerHTML = pagination_template.replace('[[page]]', page_template);
      } else {
        document.getElementById('pagination').innerHTML = '';
      }

      document.getElementById('store_count').innerText = `총 ${data.paging.limitCount}건`
      document.getElementById('list').innerHTML = typeof template === "string" ? template : template.join('')
    }

    function getStores(page = 1) {
      const keyword = document.getElementById('keyword').value;

      ajax(`/api/store/map`, 'post', { keyword: keyword, page })
        .then((response) => {
          store_data(response.data);
          // 마커 생성
          makeMarkers(response.data.list);
        })
        .catch((error) => console.log(error));
    }

    // 검색 기능
    const searchHandler = async () => {
      const keyword = document.getElementById('keyword').value;

      // 데이터 조회 api
      await getStores();

      // 지도 검색 api
      if(keyword !== '') {
        await getSearchByAddress(keyword)
          .then(res => {
            dataHandler(res.latlng, res.zoom)
          })
          .catch(err => {
            console.log(err)
          })
      }
    }

    window.addEventListener('load', () => {
      searchHandler()
    })

  </script>
</th:block>

</html>