<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="main">
  <main>
    <div style="display: flex; width: 89%; height: 50px; background: #fff; gap: 0; margin: 20px 0; padding: 0 10px;">
      <input type="text" id="address" placeholder="지역구, 지역명으로 검색" autocomplete="off">
      <button style="width: 150px; background: #F4A426;" type="button" onclick="mapSearch()">검색</button>
    </div>
    <div id="map" class="map"></div>
    <section style="gap: 20px;">
      <h1 class="title">매장 목록</h1>
      <span id="store_count"></span>
      <table class="line-table">
        <thead>
          <tr>
            <th>매장명</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>매장 서비스</th>
          </tr>
        </thead>
        <tbody id="list"></tbody>
      </table>
      <div id="pagination">

      </div>
    </section>
  </main>

  <!-- 네이버 지도 API -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sg6n0oldss&submodules=geocoder"></script>
  <script defer th:src="@{/js/storeMap.js}"></script>
  <script type="text/javascript">

    let currentAddress = {};

    function store_data(data) {

      // 데이터 처리
      const template = data.list.length > 0 
        ? data.list.map(item => `
          <tr>
            <td>${item.name}</td>
            <td>${item.address}, ${item.detailAddress}</td>
            <td>${item.phone}</td>
            <td>
              <div class="icon-wrapper">
                <span class="icon-delivery ${item.service.includes('배달') ? 'active' : ''}"></span>
                <span class="icon-takeout ${item.service.includes('포장') ? 'active' : ''}""></span>
                <span class="icon-chair ${item.service.includes('홀') ? 'active' : ''}""></span>
                <span class="icon-park ${item.service.includes('주차') ? 'active' : ''}""></span>
              </div>
            </td>
          </tr>
        `)
        :`
          <tr>
            <td colspan="4">등록된 매장 정보가 없습니다.</td>
          </tr>
        `;

        // 페이징처리
        const paging = data.paging;
        const page = data.page;

        if(paging.limitCount > 10) {
          const pagination_template = `
              <ul>
                  ${paging.page > 10 ? `<li><a class="first" onclick="getStores('address', ${paging.page-10})"></a></li>` : ''}
                  ${paging.page > 1 ? `<li><a class="prev" onclick="getStores('address', ${paging.page-1})"></a><li>` : ''}
                  [[page]]
                  ${paging.page < paging.maxPage ? `<li><a class="next" onclick="getStores('address', ${paging.page+1})">다음</a><li>` : ''}
                  ${paging.page+10 < paging.maxPage ? `<li><a class="last" onclick="getStores('address', ${paging.page+10})">last</a><li>` : ''} 
              </ul>
          `;

          let page_template = ''
          for(let i = paging.startPage; i<= paging.endPage; i++) {
            let cuurentPage = i+(paging.startPage-1);
            page_template += `
              <li>
                <a class="${cuurentPage == page ? 'on' : ''}" onclick="getStores('address', ${cuurentPage})">
                  ${cuurentPage}
                </a>
              </li>
            `
          }
          
          document.getElementById('pagination').innerHTML = pagination_template.replace('[[page]]', page_template);
        } 

        document.getElementById('store_count').innerText = `'${currentAddress.area1} ${currentAddress.area2} ${currentAddress.area3}' - 총 ${data.paging.limitCount}건`
        document.getElementById('list').innerHTML = template.join('')
    }

    function getStores(address, page=1) {
      if(address == 'address') address = currentAddress;
      ajax(`/api/store/map`, 'post', {
        siDo: address.area1,
        guGun: address.area2,
        dong: address.area3,
        page
      })
        .then((response) => {
          currentAddress = address
          // 가맹점 데이터
          store_data(response.data);
          // 마커 생성
          makeMarkers(response.data.list);
        })
        .catch((error) => console.log(error));
    }

    window.addEventListener('load', ()=>{
      mapSearch()
    })

  </script>
</th:block>

</html>