<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>굿킨</title>
    <link rel="stylesheet" type="text/css" href="../css/common.min.css" />
  </head>
  <body>
    <div class="root">
      <header class="bg-primary-light">
        <div>
          <a class="logo" href="/">굿킨</a>
          <ul class="menu">
            <li><a href="../html/about.html">브랜드 소개</a></li>
            <li><a href="../html/self-employment.html">자영업 이야기</a></li>
            <li><a href="../html/strategy.html">성공창업 전략</a></li>
            <li><a href="../html/franchise.html">프렌차이즈</a></li>
            <li><a href="../html/menu.html">메뉴 소개</a></li>
            <li><a href="../html/store.html">매장 안내</a></li>
            <li><a href="../html/customer-inquiry.html">고객의 소리</a></li>
          </ul>
        </div>
        <button type="button" class="btn-menu" onclick="btnMenu()">Menu</button>
      </header>
      <div class="overlay">
        <nav class="nav">
          <div class="nav-head">
            <a class="logo" href="/">굿킨</a>
            <button type="button" class="btn-close" onClick="btnClose()">
              Close
            </button>
          </div>
          <div class="nav-main">
            <ul class="menu">
              <li><a href="../html/about.html">브랜드 소개</a></li>
              <li><a href="../html/self-employment.html">자영업 이야기</a></li>
              <li><a href="../html/strategy.html">성공창업 전략</a></li>
              <li><a href="../html/franchise.html">프렌차이즈</a></li>
              <li><a href="../html/menu.html">메뉴 소개</a></li>
              <li><a href="../html/store.html">매장 안내</a></li>
              <li><a href="../html/customer-inquiry.html">고객의 소리</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <main class="strategy">
        <section class="direct bg-primary-light">
          <div class="img-wrapper">
            <img src="../assets/images/strategy/img-strategy-01.png" alt="" />
          </div>
          <article>
            <h1 class="title">
              <span class="emphasis-color">절실함</span> 이 필요합니다.
            </h1>
            <div class="contents">
              우리 동네에 있는 수많은 치킨집과의 경쟁에서 살아남고, 안정적인
              수익창출을 위해가장 중요한 키워드는 '절실함'입니다. <br /><br />
              깨진창문 이론 처럼, 가랑비에 젖는 옷 처럼 매장에서 발생하는 작고
              사소한 문제점들이 쌓여가는 사이 눈에 잘 띄지 않지만 분명
              우리가게를 찾던 고객님들은경쟁점포로 이동하게 됩니다.
              <br /><br />
              고객과 매출이 줄어드는 것을 알아챘을 땐 이미 늦은 경우가 많습니다.
              또한 이러한 흐름을 반전시키고, 다시 우리가게를 찾도록 고객님들의
              발걸음을 되돌리는 데에는 더욱 많은 노력과 비용이 발생하기
              마련입니다.
              <br /><br />
              그렇기 때문에 매장을 운영하면서 점주님들께서 가장 잃지 않으셨으면
              하는 마음은 '절실함' 입니다.
            </div>
          </article>
        </section>
        <section class="direct">
          <div class="img-wrapper">
            <img src="../assets/images/strategy/img-strategy-02.png" alt="" />
          </div>
          <article>
            <h1 class="title">
              문제를 진단하고<br />
              해결할 수 있는<br />
              <span class="emphasis-color">전문가</span> 가 필요합니다.
            </h1>
            <div class="contents">
              매장을 운영하면서 발생하는 여러가지 문제들을 신속하게 해결하는
              것도 중요하지만, 어떤 것이 문제인지 찾아내고 인식하는 것 또한 아주
              중요한 부분입니다.
              <br /><br />
              가장 기본적인 운영관리부터 조리 메뉴얼, 홍보마케팅까지 본사의
              전문가가 다년간의 노하우를 통해 정확하게 문제를 진단하고 신속한
              해결을 도와드립니다.
            </div>
          </article>
        </section>
        <section class="direct bg-gray">
          <div class="img-wrapper">
            <img src="../assets/images/strategy/img-strategy-03.png" alt="" />
          </div>
          <article>
            <h1 class="title">
              변화하는 시장에<br />
              <span class="emphasis-color">대응</span>할 수 있어야 합니다.
            </h1>
            <div class="contents">
              하루 중 많은 시간을 매장에서 보내다 보면 세상 물정에 어두워지기
              마련입니다.
              <br /><br />
              코로나 사태, 국제 정세 불안, 해외 공급망 이슈로 인한 원부자재
              가격의 급격한 상승, 불안정한 물류 공급, 고객 소비패턴 변화에
              유연하게 대응할 수 있도록 도와드립니다.
            </div>
          </article>
        </section>
        <section class="direct">
          <div class="img-wrapper">
            <img src="../assets/images/strategy/img-strategy-04.png" alt="" />
          </div>
          <article>
            <h1 class="title">
              효율적인<br />
              <span class="emphasis-color">홍보마케팅</span>이 필요합니다.
            </h1>
            <div class="contents">
              코로나 사태를 겪으며 온라인 배달앱 시장의 급격한 성장은, 수많은
              배달앱 서비스와 광고상품이 난립하고 있습니다. 정액제, 정률제
              광고상품부터 고객이 우리 가게를 한번 클릭할 때 마다 광고비용이
              발생하는 상품까지 아주 다양합니다.
              <br /><br />
              예전처럼 하나의 배달앱 서비스, 하나의 광고상품만으로는 경쟁에서
              살아남기 어렵지만 무턱대고 여러 광고상품을 이것저것 무분별하게
              사용하게 되면, 점주님의 마진이 없거나 오히려 팔면 팔수록 손해가
              발생하기도 합니다.
              <br /><br />
              우리 가게와 상권에 맞는 적절한 광고상품의 선택과 광고비용 산출을
              통해 합리적이고 효율적인 홍보마케팅을 지원해드립니다.
            </div>
          </article>
        </section>
        <section class="direct bg-primary-light">
          <div class="img-wrapper">
            <img src="../assets/images/strategy/img-strategy-05.png" alt="" />
          </div>
          <article>
            <h1 class="title">
              얼마를 파느냐 보다,<br />
              <span class="emphasis-color">얼마가 남느냐</span>가<br />
              중요합니다.
            </h1>
            <div class="contents">
              직영점 운영을 통해 현재 시장 상황이 어떻게 변화하는지 예의주시하고
              있습니다.
              <br /><br />
              특히 식용유와 밀가루, 원료육, 소스 등 제조원가 중 많은 비중을
              차지하는 품목에 대해, 꼼꼼하고 철저한 가격관리를 통해 점주님의
              적정 마진을 유지하고자 노력하고 있습니다.
            </div>
          </article>
        </section>
      </main>
      <footer>
        <div class="logo">굿킨</div>
        <ul class="menu">
          <li><a href="../html/about.html"> 브랜드 소개 </a></li>
          <li><a href="../html/franchise.html"> 프랜차이즈 </a></li>
          <li><a href="../html/store.html"> 매장 안내 </a></li>
          <li><a href="../html/privacy.html"> 개인정보취급방침 </a></li>
        </ul>

        <ul class="info">
          <li>대표자: 이도현</li>
          <li>주소: 서울특별시 도봉구 도봉로 113길 10, 1층</li>
          <li>사업자등록번호: 710-81-02860</li>
          <li>대표 전화: 02-994-3170</li>
        </ul>
        <div class="copyright">
          Copyright 2022 잘만든치킨 굿킨. All rights reserved.
        </div>
      </footer>
    </div>
    <script
      type="text/javascript"
      src="../js/libs/jquery-3.6.1.min.js"
    ></script>
    <script src="../js/common.js"></script>
  </body>
</html>
