<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="main">
  <main class="strategy">
    <!-- <section class="direct bg-primary-light">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/strategy/img-strategy-01.png}" alt="" />
      </div>
      <article>
        <h1 class="title">
          <span class="emphasis-color">절실함</span> 이 필요합니다.
        </h1>
        <div class="contents">
          우리 동네에 있는 수많은 치킨집과의 경쟁에서 살아남고, 안정적인
          수익창출을 위해가장 중요한 키워드는 '절실함'입니다. <br /><br />
          깨진창문 이론 처럼, 가랑비에 젖는 옷 처럼 매장에서 발생하는 작고
          사소한 문제점들이 쌓여가는 사이 눈에 잘 띄지 않지만 분명
          우리가게를 찾던 고객님들은경쟁점포로 이동하게 됩니다.
          <br /><br />
          고객과 매출이 줄어드는 것을 알아챘을 땐 이미 늦은 경우가 많습니다.
          또한 이러한 흐름을 반전시키고, 다시 우리가게를 찾도록 고객님들의
          발걸음을 되돌리는 데에는 더욱 많은 노력과 비용이 발생하기
          마련입니다.
          <br /><br />
          그렇기 때문에 매장을 운영하면서 점주님들께서 가장 잃지 않으셨으면
          하는 마음은 '절실함' 입니다.
        </div>
      </article>
    </section>
    <section class="direct">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/strategy/img-strategy-02.png}" alt="" />
      </div>
      <article>
        <h1 class="title">
          문제를 진단하고<br />
          해결할 수 있는<br />
          <span class="emphasis-color">전문가</span> 가 필요합니다.
        </h1>
        <div class="contents">
          매장을 운영하면서 발생하는 여러가지 문제들을 신속하게 해결하는
          것도 중요하지만, 어떤 것이 문제인지 찾아내고 인식하는 것 또한 아주
          중요한 부분입니다.
          <br /><br />
          가장 기본적인 운영관리부터 조리 메뉴얼, 홍보마케팅까지 본사의
          전문가가 다년간의 노하우를 통해 정확하게 문제를 진단하고 신속한
          해결을 도와드립니다.
        </div>
      </article>
    </section>
    <section class="direct bg-gray">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/strategy/img-strategy-03.png}" alt="" />
      </div>
      <article>
        <h1 class="title">
          변화하는 시장에<br />
          <span class="emphasis-color">대응</span>할 수 있어야 합니다.
        </h1>
        <div class="contents">
          하루 중 많은 시간을 매장에서 보내다 보면 세상 물정에 어두워지기
          마련입니다.
          <br /><br />
          코로나 사태, 국제 정세 불안, 해외 공급망 이슈로 인한 원부자재
          가격의 급격한 상승, 불안정한 물류 공급, 고객 소비패턴 변화에
          유연하게 대응할 수 있도록 도와드립니다.
        </div>
      </article>
    </section>
    <section class="direct">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/strategy/img-strategy-04.png}" alt="" />
      </div>
      <article>
        <h1 class="title">
          효율적인<br />
          <span class="emphasis-color">홍보마케팅</span>이 필요합니다.
        </h1>
        <div class="contents">
          코로나 사태를 겪으며 온라인 배달앱 시장의 급격한 성장은, 수많은
          배달앱 서비스와 광고상품이 난립하고 있습니다. 정액제, 정률제
          광고상품부터 고객이 우리 가게를 한번 클릭할 때 마다 광고비용이
          발생하는 상품까지 아주 다양합니다.
          <br /><br />
          예전처럼 하나의 배달앱 서비스, 하나의 광고상품만으로는 경쟁에서
          살아남기 어렵지만 무턱대고 여러 광고상품을 이것저것 무분별하게
          사용하게 되면, 점주님의 마진이 없거나 오히려 팔면 팔수록 손해가
          발생하기도 합니다.
          <br /><br />
          우리 가게와 상권에 맞는 적절한 광고상품의 선택과 광고비용 산출을
          통해 합리적이고 효율적인 홍보마케팅을 지원해드립니다.
        </div>
      </article>
    </section>
    <section class="direct bg-primary-light">
      <div class="img-wrapper">
        <img th:src="@{/assets/images/strategy/img-strategy-05.png}" alt="" />
      </div>
      <article>
        <h1 class="title">
          얼마를 파느냐 보다,<br />
          <span class="emphasis-color">얼마가 남느냐</span>가<br />
          중요합니다.
        </h1>
        <div class="contents">
          직영점 운영을 통해 현재 시장 상황이 어떻게 변화하는지 예의주시하고
          있습니다.
          <br /><br />
          특히 식용유와 밀가루, 원료육, 소스 등 제조원가 중 많은 비중을
          차지하는 품목에 대해, 꼼꼼하고 철저한 가격관리를 통해 점주님의
          적정 마진을 유지하고자 노력하고 있습니다.
        </div>
      </article>
    </section> -->

    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section1[0].img}+'); --imgUrl-MO:url('+${section1[1].img}+');'"/>
    </div>
    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section2[0].img}+'); --imgUrl-MO:url('+${section2[1].img}+');'"/>
    </div>
    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section3[0].img}+'); --imgUrl-MO:url('+${section3[1].img}+');'"/>
    </div>
    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section4[0].img}+'); --imgUrl-MO:url('+${section4[1].img}+');'"/>
    </div>
    <div class="banner-main">
      <img alt="banner" th:style="'--imgUrl-PC:url('+${section5[0].img}+'); --imgUrl-MO:url('+${section5[1].img}+');'"/>
    </div>
  </main>

</th:block>

</html>