<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodkin.repository.MenuRepository">

    <select id="getMenus" resultType="Menu"> 
        select * 
        from menu
        order by create_date desc
    </select>

    <select id="getMenu" resultType="Menu">
        select      * 
        FROM        menu m
        left JOIN 	main_menu main
        ON      	m.menu_no = main.menu_no
        where       m.menu_no = #{menuNo}
    </select>

    <select id="findByCategory" resultType="Menu">
        select * 
        from menu
        where category = #{category}
        and exp_status = 1 
    </select>

    <select id="findByName" resultType="Menu">
        select * 
        from menu
        where name = #{name}
    </select>

    <select id="findByNewMenu" resultType="Menu">
        select * 
        from menu
        where new_status = 1
    </select>

    <select id="menuNameValidation" resultType="Menu">
        select * 
        from menu
        where name != (select name from menu where menu_no = #{menuNo})
        and name = #{newName}
    </select>

    <insert id="save" parameterType="Menu" useGeneratedKeys="true"  keyProperty="menuNo">
        INSERT INTO menu (
            category, name, description, file, file_url, new_status, exp_status
        ) VALUES (
            #{category}, #{name}, #{description}, #{file}, #{fileUrl}, #{newStatus}, #{expStatus}
        )
    </insert>

    <update id="update">
        UPDATE menu SET 
        <if test="category != null">category = #{category},</if>
        <if test="name != null">name = #{name},</if>
        <if test="description != null">description = #{description},</if>
        <if test="file != null">file = #{file},</if>
        <if test="fileUrl != null">file_url = #{fileUrl},</if>
        <if test="mainFile != null">main_file = #{mainFile},</if>
        <if test="mainFileUrl != null">main_file_url = #{mainFileUrl},</if>
        <if test="newStatus != null">new_status = #{newStatus},</if>
        <if test="expStatus != null">exp_status = #{expStatus},</if>
        update_date = now()
        where menu_no = #{menuNo}
    </update>

    <delete id="delete">
        DELETE 
        FROM menu 
        where menu_no = #{menuNo}
    </delete>


    <!-- 메인메뉴 -->
    <select id="getMainMenus" resultType="MainMenu">
        select * 
        from main_menu main
        join menu m
        on   m.menu_no = main.menu_no
        where m.exp_status = 1
        order by sort
        limit 0,7
    </select>

    <!-- 관리자 -->
    <sql id="filter">
		<if test="!kind.equals('') and !keyword.equals('')">
			and ${kind} LIKE CONCAT('%',#{keyword},'%') 
		</if>
        <if test="!category.equals('')">
            and category LIKE '%${category}%'
        </if>
	</sql>

    <select id="listCount" resultType="int">
        SELECT      COUNT(*)
        FROM        menu
        WHERE       menu_no > 0
		<include refid="filter" />
    </select>

    <select id="list" resultType="Menu">
        SELECT      *
        FROM        menu
        WHERE       menu_no > 0
		<include refid="filter" />
        ORDER BY    create_date DESC
        limit ${paging.startRow},${paging.endRow}
    </select>

    <select id="getMainMenuList" resultType="MainMenu"> 
        select *
        from   main_menu main
        join   menu m
        on     m.menu_no = main.menu_no
        ORDER BY sort
    </select>

    <select id="getMainMenusCount" resultType="int"> 
        select count(*)
        from   main_menu main
        join   menu m
        on     m.menu_no = main.menu_no
        where  m.category = #{category} 
    </select>

    <insert id="mainMenuInsert">
        insert into main_menu (menu_no, sort)
        values (#{menuNo}, (select ifnull(max(main.sort),0)+1 from main_menu main))
    </insert>

    <delete id="mainMenuDelete">
        delete 
        from main_menu 
        where menu_no = #{menuNo}
    </delete>

    <update id="mainMenuUpdateAll">
        <foreach collection="newMainMenus" item="item" index="index"> 
            update main_menu
            set sort = #{item.sort}
            where main_menu_no = #{item.mainMenuNo};
        </foreach>
    </update>

    <!-- 신메뉴 설정 -->
    <select id="newMenuList" resultType="NewMenu"> 
        select *
        from   new_menu
    </select>

    <!-- 신메뉴 설정 -->
    <select id="getNewMenu" resultType="NewMenu"> 
        select *
        from   new_menu
        where new_menu_no = #{newMenuNo}
    </select>

    <insert id="newMenuInsert">
        insert into new_menu (file_url, file_name)
        values (#{fileUrl}, #{fileName})
    </insert>

    <update id="newMenuUpdate">
        update new_menu
        set file_url = #{fileUrl}, file_name = #{fileName}
        where new_menu_no = #{newMenuNo}
    </update>

    <delete id="newMenuDelete">
        delete 
        from new_menu 
        where new_menu_no = #{newMenuNo}
    </delete>


</mapper>