<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodkin.repository.StoreRepository">

    <select id="getStores" resultType="Store"> 
        select * 
        from store
        order by store_no desc
    </select>

    <select id="getStoreMapCount" resultType="int">
        select count(*)
        from store
        where exposure_status = 1
        <if test="!keyword.equals('')">
            and ( address like '%${keyword}%' 
            or    name like '%${keyword}%' )
        </if>
    </select>

    <select id="getStoreMap" resultType="Store">
        select * 
        from store
        where exposure_status = 1
        <if test="!keyword.equals('')">
            and ( address like '%${keyword}%' 
            or    name like '%${keyword}%' )
        </if>
        order by store_no desc
        limit ${paging.startRow},${paging.endRow}
    </select>

    <select id="getStore" resultType="Store">
        select * 
        from store
        where store_no = #{storeNo}
    </select>

    <select id="findByName" resultType="Store">
        select * 
        from store
        where name = #{name}
    </select>

    <select id="storeNameValidation" resultType="Store">
        select * 
        from store
        where name != (select name from store where store_no = #{storeNo})
        and name = #{newName}
    </select>

    <insert id="save" parameterType="Store" useGeneratedKeys="true"  keyProperty="storeNo">
        INSERT INTO store (
            name, address, detail_address, zonecode, phone, x, y, service
        ) VALUES (
            #{name}, #{address}, #{detailAddress}, #{zonecode}, #{phone}, #{x}, #{y}, #{service}
        )
    </insert>

    <update id="update">
        UPDATE store SET 
        <if test="name != null">name = #{name},</if>
        <if test="address != null">address = #{address},</if>
        <if test="detailAddress != null">detail_address = #{detailAddress},</if>
        <if test="zonecode != null">zonecode = #{zonecode},</if>
        <if test="phone != null">phone = #{phone},</if>
        <if test="x != null">x = #{x},</if>
        <if test="y != null">y = #{y},</if>
        service = #{service},
        update_date = now()
        where store_no = #{storeNo}
    </update>

    <delete id="delete">
        DELETE 
        FROM store 
        where store_no = #{storeNo}
    </delete>

    <!-- 관리자 -->

	<sql id="filter">
		<if test="!kind.equals('') and !keyword.equals('')">
			and ${kind} LIKE CONCAT('%',#{keyword},'%') 
		</if>
        <if test="!address.equals('')">
            and address LIKE '%${address} ${subAddress}%'
        </if>
	</sql>

    <select id="listCount" resultType="int">
        SELECT      COUNT(*)
        FROM        store
        WHERE       store_no > 0
		<include refid="filter" />
    </select>

    <select id="list" resultType="Store">
        SELECT      *
        FROM        store
        WHERE       store_no > 0
		<include refid="filter" />
        ORDER BY store_no DESC
        limit ${paging.startRow},${paging.endRow}
    </select>


</mapper>