<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">

<th:block layout:fragment="main">
    <main id="main" class="member-detail">
        <section class="section">
            <h2 class="section_title">관리자 정보</h2>
            <form class="form wide" th:object="${admin}" id="form">
                <fieldset class="fieldset">
                    <input type="hidden" th:field="*{adminNo}">
                    <span class="input-wrap">
                        <label class="label" for="id">아이디</label>
                        <input class="input" type="text" th:field="*{id}" readonly>
                    </span>

                    <span class="input-wrap pwd-wrap">
                        <label class="label" for="">새 비밀번호</label>
                        <input class="input" type="password" name="password" placeholder="새 비밀번호" maxlength="50">
                    </span>

                    <span class="input-wrap pwd-wrap">
                        <label class="label" for="">새 비밀번호 확인</label>
                        <input class="input" type="password" name="newPassword" placeholder="새 비밀번호 확인" maxlength="50">
                    </span>

                    <span class="input-wrap">
                        <label class="label" for="name">이름</label>
                        <input class="input" type="text" th:field="*{name}">
                    </span>

                    <span class="input-wrap">
                        <label class="label" for="phone">연락처</label>
                        <input class="input" type="text" th:field="*{phone}">
                    </span>

                    <span class="input-wrap">
                        <label class="label" for="email">이메일</label>
                        <input class="input" type="text" th:field="*{email}">
                    </span>                    

                    
                </fieldset>
            </form>
            <div class="form_action bottom" form="profileForm">
                <button type="button" class="btn-prime" onclick="adminUpdate()">수정</button>
            </div>
        </section>
    </main>
    <script>
    
        function adminUpdate() {
            const form = document.getElementById("form");
            const password = form.password;
            const newPassword = form.newPassword;

            if(password.value !== '') {
                if(password.value !== newPassword.value) {
                    alert("입력하신 비밀번호가 서로 일치하지 않습니다.")
                    password.focus();
                    return;
                }
            }

            ajax('./mypage/update', 'post', {
                    adminNo: form.adminNo.value,
                    password: form.password.value !== '' ? form.password.value : null,
                    name: form.name.value,
                    phone: form.phone.value,
                    email: form.email.value,
                })
                .then((response) => {
                    alert(response.message);
                    location.reload();
                })
                .catch((error) => {
                    console.log(error)
                });

        }

        window.addEventListener('DOMContentLoaded', () => {
            layoutFn();
        });
    </script>
</th:block>

</html>